.first-input {
    position: absolute;
    width: 280px;
    height: 35px;
    left: 566px;
    top: 101px;
    text-indent: 5px;

    border: 2px solid #D5D4D8;
    border-radius: 5px;
}

.second-input {
    position: absolute;
    width: 280px;
    height: 35px;
    left: 880px;
    top: 101px;
    text-indent: 5px;

    border: 2px solid #D5D4D8;
    border-radius: 5px;
}

.button {
    position: absolute;
    width: 603px;
    height: 40px;
    left: 566px;
    top: 151px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
}

.div-img {
    border-radius: 90px;
    width: 477px;
    height: 477px;
}

.container-img {
    position: absolute;
    width: 77px;
    height: 68px;
    left: 636px;
    top: 220px;

}