.card-section {
    width: 175px;
    font-size: 14px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
    margin-right: 120px;
    margin-left: 90px;
}

.card-img {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
    height: 250px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 15px;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}