.header-div {
    height: 80px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

    background: #F55A5A;
}

.img-header {
    margin-left: 630px;
    margin-right: 20px;
}

.header-h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -1px;
}